.cart{
    margin-top: 100px;
}
.cart-item-title{
    display: grid;
    grid-template-columns:1fr 1.5fr 1fr 1fr  1fr 0.5fr ;
    align-items: center;
    color: grey;
    font-size: max(1vw,12px);
}
.cart-items-item{
    margin: 10px 0px;
    color: black;
}
.cart-items-item img{
    width: 50px;
}
.cart hr {
    height: 1px;
    background-color: #06C167;
    border: none;
}
.cart-items-item .cross {
    cursor: pointer;
}
.cart-bootom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.cart-tot{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-tot hr {
    margin: 10px 0px;
}
.cart-tot button{
    border: none;
    color: white;
    background-color:#06C167;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}
.cart-promo{
    flex: 1;
}
.cart-promo p {
    color: #555;
}
.cart-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius:4px ;
}
.cart-input input{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
}
.cart-input button{
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: #06C167;
    border: none;
    color: white;
    border-radius: 4px;
}

@media (max-width: 750px) {
    .cart-bootom{
        flex-direction: column;
    }
    .cart-promo{
        justify-content: start;
    }
}