.footer{
    color:#ffffff;
    display: flex;
    flex-direction: column;
    background-color: #323232;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer .logo {
    width: 150px;
}

.footer-content-left ,.footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.footer-content-left li ,.footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
 .footer-content-right h2, .footer-content-center h2{
    color: white;
}
.footer-icons img {
    width: 40px;
    margin-right:15px ;
}
.footer hr {
    width: 100%;
    border: 0.5px solid #06C167;
    height: 2px;
    margin: 20px 0px;
}

@media (max-width: 750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
        
    }
}
