.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #dcdcdc; 
    transition: 0.3s;
    animation: fadeIn 1s;

}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px;

}
.food-item-details{
    padding: 20px;
    margin-top: 6px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}
.food-item-name-rating img {
    width: 60px;
}
.food-item-description{
    color: #606060;
    font-size: 12px;
}
.food-item-price{
    color:#06C167 ;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
.food-item-image-conatiner{
    position: relative;
}
.food-item-image-conatiner .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;

}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;

}
.food-item-counter img{
    width: 30px;
    
}