.payment-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.payment-container h2 {
  text-align: center;
}

.secure {
  text-align: center;
  color: green;
  margin-bottom: 15px;
  display: start;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.payment-form label {
  margin-top: 15px;
  font-weight: bold;
}

.payment-form input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pay-btn {
  margin-top: 20px;
  padding: 12px;
  background: #06C167;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.loader {
  width: 45px;
  height: 45px;
  border: 4px solid #06C167;
  border-top-color: transparent;
  border-radius: 50%;
  margin: 20px auto;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.pay-btn:disabled {
  background-color: #8de6b5;
  cursor: not-allowed;
}

